<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web" />
        <add assembly="System.Data" />
        <add assembly="System.Core" />
        <add assembly="System.Configuration" />
        <add assembly="App.Domain" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
